.action-buttons-wrapper .btn {
    font-size: 0.9em;
    padding: 0.3rem 0.5rem;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

.btn:hover,
.btn:focus {
    transform: scale(1.05);
}